body {
    font-family: Junction, Helvetica, Verdana, Arial, sans-serif;
}

div#content {
    position:relative;
}

div#vis {
    margin-right: 540px;
}

div#vis svg {
    width: 100%;
    height: 100%;
}

div#info {
    position: absolute;
    width: 520px;
    right: 10px;
    top: 0;
}

div#info table {
    font-size: small;
}

div#slider {
    width: 500px;
    position: fixed;
    bottom: 50px;
    left: 50px;
}

@font-face {
    font-family: Junction;
    src: url("../fonts/Junction.otf") format("opentype");
}

h1 {
    font-family: Junction, Helvetica, Verdana, Arial, sans-serif;
    color: dodgerblue;
}

.d3-tip {
    top: 0;
    left: 0;
}

