html, body { height:100%; }

body {
    font-family: 'Roboto', Helvetica, Verdana, Arial, sans-serif;
}

div#content {
    position:relative;
    height: 100%;
}

div#vis {
    margin-right: 540px;
    height: 99%;
}

div#info {
    position: absolute;
    width: 520px;
    right: 10px;
    top: 0;
    height: 100%;
}

div#info table {
    font-size: medium;
}

div#info table tr > * {
    vertical-align: middle;
}

div#slider {
    width: 500px;
    position: fixed;
    bottom: 50px;
    left: 50px;
}

h1 {
    font-family: Roboto, Helvetica, Verdana, Arial, sans-serif;
    color: dodgerblue;
}

.d3-tip {
    top: 0;
    left: 0;
}

#year {
    font-size: 242px;
    opacity: 0.1;
    pointer-events: none;
}

td.infocol {
    font-size: x-large;
    text-align: center;
    cursor: pointer;
}

ol.breadcrumb li {
    cursor: pointer;
    color: dodgerblue;
}

.number {
    text-align: right;
}

.crest {
    background-image: url('http://www.fin.be.ch/etc/designs/std/media/logo.gif');
    width: 20px;
    height: 45px;
    display: inline-block;
    background-position: 0 15px;
    background-repeat: no-repeat;
}

g.reference circle {
    fill: none;
    stroke-width: 2px;
    stroke: black;
    stroke-dasharray: 8px 3px;
}

g.reference {
    opacity: 0.3;
}

g.reference text {
    text-anchor: middle;
}

dd {
    margin: 0 10px 10px 10px;
}