html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', Helvetica, Verdana, Arial, sans-serif;
    min-width: 960px;
}

.number {
    font-family: 'PT Sans Narrow', Helvetica, Verdana, Arial, sans-serif;
}

div#content {
    position: relative;
    height: 100%;
}

div#vis {
    margin-right: 540px;
    height: 99%;
}

div#info {
    position: absolute;
    width: 520px;
    right: 10px;
    top: 0;
    height: 100%;
}

div#info table {
    font-size: medium;
}

div#info table tr > * {
    vertical-align: middle;
}

div#slider {
    width: 500px;
    position: fixed;
    bottom: 50px;
    left: 50px;
}

h1 {
    font-family: Roboto, Helvetica, Verdana, Arial, sans-serif;
    color: dodgerblue;
}

.d3-tip {
    top: 0;
    left: 0;
}

#year {
    font-size: 242px;
    opacity: 0.1;
    pointer-events: none;
}

#labels {
    font-size: 64px;
    opacity: 0.1;
    pointer-events: none;
    text-anchor: middle;
}

#labels {
    transform: translate(0px,150px);
}

td.infocol {
    font-size: x-large;
    text-align: center;
}

td.infocol .fa-info-circle {
    cursor: pointer;
}

td.hasChildren {
    cursor: pointer;
    text-decoration: underline;
    color: #2980b9;
}

ol.breadcrumb li {
    cursor: pointer;
    color: dodgerblue;
}

.number {
    text-align: right;
}

.crest {
    background-image: url('http://www.fin.be.ch/etc/designs/std/media/logo.gif');
    width: 20px;
    height: 45px;
    display: inline-block;
    background-position: 0 15px;
    background-repeat: no-repeat;
}

g.node.hasChildren {
    cursor: pointer;
}

g.node text {
    text-anchor: middle;
    pointer-events: none;
    fill: white;
    font-family: 'Raleway', sans-serif;
}

g.reference {
    display: none;
}

g.reference circle {
    fill: none;
    stroke-width: 2px;
    stroke: black;
    stroke-dasharray: 8px 3px;
}

g.reference {
    opacity: 0.3;
}

g.reference text {
    text-anchor: middle;
}

dd {
    margin: 0 10px 10px 10px;
}

#meta {
    position: fixed;
    bottom: 0;
    background-color: white;
}

/* CI Anpassungen FIN KAIO (FMEL) */
/* ----------------------------------------------- */

a {
	color: #001BA1;
	text-decoration: underline;	
}

a:hover {
	color: #0026E0;
    text-decoration: none;
}

body {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	margin-top: 3em;
	margin-bottom: 3em;
	}

#info h1 {
	position: fixed;
	margin:0;
	top: 0;
	left: 0;
	background-color: #e3001a;
	font-size: 1.3em;
	color: #fff;
	width: 100%;
	height: 2em;
	line-height: 2em;
	padding: 0 0.5em;
	cursor: pointer;
	}
	
#info h1:hover {
	text-decoration: underline;
	}	
	
#info h2 {
	font-size: 1.5em;
	color: #323232;
	margin: 1.5em 0 1em 0;
	cursor: pointer;
	}
	
#info h2:hover {
	color: #515151;
	text-decoration: underline;
	}
		
#info div.crest {
	display:none;
	}
	
ol.breadcrumb { 
	background-color: #ECF2F7;
	}

ol.breadcrumb li {
	color: #002889!important;
	text-decoration:underline;
	}

.breadcrumb > li + li::before {
    color: #323232;
    content: "> ";
    padding: 0 5px;
}

ol.breadcrumb li[ng-repeat] {color: #323232!important;text-decoration:none;}
	
.table thead {
	background-color: #ECF2F7;
	}
	
.table > thead > tr > th {
    border-bottom: 2px solid #C8D9E9;
    vertical-align: bottom;
}

.table-striped > tbody > tr:nth-child(2n+1) > td,
.table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #F2F8FC;
}

.table > tbody > tr > td {
    border-top: 1px solid #C8D9E9;
}

.table > tfoot > tr > th, .table > tfoot > tr > td {
    border-top: 2px solid #4A81B6;
	background-color: #F2F8FC;
}

td.hasChildren {
    color: #001BA1;
}

td.hasChildren:hover {
    color: #0026E0;
    text-decoration: none;
}

.table-hover>tbody>tr>td.info:hover,.table-hover>tbody>tr>th.info:hover,.table-hover>tbody>tr.info:hover>td,.table-hover>tbody>tr.info:hover>th{
	background-color:#C8D9E9;
	}

.modal-title h3 { color: #323232;}
	
#meta {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2em;
	text-align: right;
	background-color: #18184b;
	color: #bddeff;
	line-height: 2em;
	padding: 0 0.5em;	
}

#meta a {
	color: #bddeff;
	text-decoration:none;
}

#meta a:hover { 
	color: #fff;
	text-decoration:underline;
}

#meta .footer-left {
	position: fixed;
	left: 0.5em;
	bottom: -0.7em;
}

div#slider {
    bottom: 5em;
    left: 5em;
    position: fixed;
    width: 500px;
}


.modal-dialog dd a {
	color: #001BA1;
	text-decoration: none;	
}

.modal-dialog dd a:hover {
	color: #0026E0;
    text-decoration: underline;
}



.btn-primary {
	background-color: #18184b;
    border: 1px solid #18184b;
    color: #fff;
}
.btn-primary:hover,
.btn-primary:active, 
.btn-primary:focus, 
.btn-primary:visited  {
	background-color: #e3001a;
    border: 1px solid #e3001a;
    color: #fff;
}
